
* {
  font-family: Arial, Helvetica, sans-serif; 
  color: white;
  background-color: #181818;
  margin: auto;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: bold;

}
.row {
  display: flex;
}

.left {
  flex: 30%;
}
.right {
  flex: 70%;
}





form {
  color: #333333;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
}

li {
  background-color: #333333;
  border-radius: 5%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
} 
