* {
  /* box-sizing: border-box; */
  font-family: Arial, Helvetica, sans-serif; 
  align-items: center;
  margin: 1rem;
  padding: 0;
}

/* header {

} */

h1 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: bold;
}

body {
  display: flex;
  align-items:center;
  color: #e5e5e5;
  background-color: #181818;
}

form {
  background-color: #333333;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

li {
  background-color: #2e5640;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;

  flex-direction: row;
}

